body{
    position: relative;
    width: 1920px;
    height: 1080px;
}

.debug{
    border: 3px solid red;
}

@import "./module/vars";

@import "./block/_desktop.scss";
@import "./block/controlPanel.scss";
@import "./block/window.scss";