.desktop {
    background-image: url("../src/img/desktop/wallpaper001.png");
    background-size: 1920px 1080px;
    
    & main {
        display: flex;
        flex-direction: column;
        & .icon{
            & span{
                position: relative;
                & a{
                    position: relative;
		            z-index: 2;
                    &:hover{
                        z-index: 4;
                    }
                    &:active{
                        z-index: 4;
                    }
                }
                & input{
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 101%;
                    height: 101%;
                    z-index: 3;
                    &:focus{
                        background: transparent;
                        border: 0;
                        z-index: 1;
                        
                    }
                }
            }
            width: 130px;
            height: 130px;
            padding: 15px;
            & img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 70px;
                height: 70px;
                object-fit: contain;
            }
            &__label{
                font-size: 16px;
                font-style: italic;
                text-align: center;
                color: $color5;
                text-shadow: 1px 1px 2px black;
                bottom: 0;
            }
        }
    }
}